/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-brand {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  white-space: nowrap;
  font-weight: 700;
}

a {
  color: var(--bs-link-color);
}

.btn-primary {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.border-top {
  border-top: 1px solid var(--bs-border-color);
}
.border-bottom {
  border-bottom: 1px solid var(--bs-border-color);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.footer-links {
  display: inline-flex;
  gap: 1rem;
}

@media (max-width: 575.98px) {
  body {
    margin-bottom: 100px;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .footer {
    white-space: normal;
    line-height: 1.5;
    padding: 1rem 0;
  }
}
